---
import Card from "../components/cardnews.astro";
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="Inici">
    <div id="foto_presentacio">
        <h1>JUNTS PER MASQUEFA</h1>
        <h2>Pel teu futur</h2>
    </div>
</Layout>