---
interface Props {
    nom: string;
}

const { nom } = Astro.props;
---

<h2 class="section-heading">
    {nom}
</h2>

<style>
    .section-heading {
        display: block;
        padding: 4px 32px;
        margin: 8px;
        margin-top: 28px;
        margin-bottom: 20px;
        border-left: 3px solid black;
        border-right: 3px solid black;
        transition: all 0.4s;
        text-transform: uppercase;
    }

    .section-heading:hover {
        padding: 4px 54px;
        background: var(--colorJunts);
        cursor: pointer;
        color: white;
    }
</style>
